<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Cumulative Frequency Processing Time
Processing Time [s]
Cumulative Frequency
cumulative_frequency vs process_time

HTTP Status Codes
Code
Count
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
